.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 36%
    right: -5%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

///tema1
.color-azul
  background-color: #0540B7 !important

///tema2
.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #C3E2FD
  color: #12263f

.linea-tiempo-d__item.row.linea-tiempo-d__item--selected .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: #C3E2FD

///tema3
.img-infografica.color-secundario .img-infografica__item__dot:before, .img-infografica.color-secundario .img-infografica__item__dot:after, .img-infografica.color-secundario .img-infografica-b__item__dot:before, .img-infografica.color-secundario .img-infografica-b__item__dot:after, .img-infografica-b.color-secundario .img-infografica__item__dot:before, .img-infografica-b.color-secundario .img-infografica__item__dot:after, .img-infografica-b.color-secundario .img-infografica-b__item__dot:before, .img-infografica-b.color-secundario .img-infografica-b__item__dot:after
  background-color: #ADC46C
  display: none

.color-amarillo
  background-color: #FAEDC0

.color-verde
  background-color: #ADC46C
  border-radius: 0px

.lista-ol--cuadro__vineta
  background-color: #ADC46C
  display: inline-block
  min-width: 24px
  height: 24px
  color: #fff
  position: relative
  margin-right: 8px