.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 36%
    right: -5%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

///tema1
.color-azul
  background-color: #0540B7 !important

///tema2
.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #C3E2FD
  color: #12263f

.linea-tiempo-d__item.row.linea-tiempo-d__item--selected .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: #C3E2FD

///tema3
.img-infografica.color-secundario .img-infografica__item__dot:before, .img-infografica.color-secundario .img-infografica__item__dot:after, .img-infografica.color-secundario .img-infografica-b__item__dot:before, .img-infografica.color-secundario .img-infografica-b__item__dot:after, .img-infografica-b.color-secundario .img-infografica__item__dot:before, .img-infografica-b.color-secundario .img-infografica__item__dot:after, .img-infografica-b.color-secundario .img-infografica-b__item__dot:before, .img-infografica-b.color-secundario .img-infografica-b__item__dot:after
  background-color: #ADC46C
  display: none

.color-amarillo
  background-color: #FAEDC0

.color-verde
  background-color: #ADC46C
  border-radius: 0px

.lista-ol--cuadro__vineta
  background-color: #ADC46C
  display: inline-block
  min-width: 24px
  height: 24px
  color: #fff
  position: relative
  margin-right: 8px


.colorboton
  background-color: #F1CC4B !important
  color: #0540B7 !important

.colortabs
  background-color: #E5EBF8

.tabs-a__tab
  display: block
  width: 100%
  text-align: left
  background-color: #E8E8E8
  padding: 15px 20px
  border-radius: 5px
  color: #111e61
  line-height: 1.2em

.linea-tiempo-d.color-acento-contenido .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #C3E2FD

.linea-tiempo-d__item.row.linea-tiempo-d__item--selected .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: #F0F8FF

figcaption
  display: block
  background-color: #F6F6F6
  padding: 0.75em 1.5em
  font-size: 0.8em
  font-weight: 700

.color-opa
  background-color: #F5F8EC !important

.color1
  background-color: #FAEDC0
  border-radius: 20px

.color-verde
  background-color: #ADDDD0
  border-radius: 0px

.color-verde2
  background-color: #DFF2ED
  border-radius: 0px

.color-amarillo
  background-color: #FAEDC0
  border-radius: 0px

.color-amarillo2
  background-color: #FDF8E4
  border-radius: 0px

.color-cian
  background-color: #F2FAF8
  border-radius: 0px
  height: 100%
  width: 110%
  margin-left: -6%

.fondoimg
  height: 100%
  content: ''
  background-image: url("../assets/curso/tema4/4.png")
  background-repeat: no-repeat
  background-size: cover

.fondoimg2
  height: 100%
  content: ''
  background-image: url("../assets/curso/tema4/6.png")
  background-repeat: no-repeat
  background-size: cover
